<footer>
  <div class="footer-card">
    <h2>
      STAY UPTO DATE ABOUT <br />
      OUR LATEST OFFERS
    </h2>
    <div class="right-section">
      <form action="">
        <input type="email" placeholder="Enter your email" />
        <button>Subscribe to Newsletter</button>
      </form>
    </div>
  </div>
  <div class="footer-content">
    <div class="first-column column">
      <h3>SHOP.CO</h3>
      <p>
        We have clothes that suits your style and <br />
        which you’re proud to wear. From <br />
        women to men.
      </p>
      <div class="social-media">
        <div class="circle-background">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="circle-background">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="circle-background">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
    <div class="second-column column">
      <h3>COMPANY</h3>
      <ul>
        <li>About</li>
        <li>Features</li>
        <li>Works</li>
        <li>Career</li>
      </ul>
    </div>
    <div class="third-column column">
      <h3>HELP</h3>
      <ul>
        <li>Customer Support</li>
        <li>Delivery Details</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="fourth-column column">
      <h3>FAQ</h3>
      <ul>
        <li>Account</li>
        <li>Manage Deliveries</li>
        <li>Orders</li>
        <li>Payments</li>
      </ul>
    </div>
    <div class="fifth-column column">
      <h3>RESOURCES</h3>
      <ul>
        <li>Free eBooks</li>
        <li>Development Tutorial</li>
        <li>How to - Blog</li>
        <li>Youtube Playlist</li>
      </ul>
    </div>
  </div>
  <div class="footer-content-mobile">
    <h3 class="title">SHOP.CO</h3>
    <p>
      We have clothes that suits your style and which you’re proud to wear. From
      women to men.
    </p>
    <div class="social-media">
      <div class="circle-background">
        <i class="fa-brands fa-twitter"></i>
      </div>
      <div class="circle-background">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="circle-background">
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="column-container">
      <div class="first-column column">
        <h3>COMPANY</h3>
        <ul>
          <li>About</li>
          <li>Features</li>
          <li>Works</li>
          <li>Career</li>
        </ul>
        <h3>FAQ</h3>
        <ul>
          <li>Account</li>
          <li>Manage Deliveries</li>
          <li>Orders</li>
          <li>Payments</li>
        </ul>
      </div>
      <div class="second-column column">
        <h3>HELP</h3>
        <ul>
          <li>Customer Support</li>
          <li>Delivery Details</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ul>
        <h3>RESOURCES</h3>
        <ul>
          <li>Free eBooks</li>
          <li>Development Tutorial</li>
          <li>How to - Blog</li>
          <li>Youtube Playlist</li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="separator" />
  <div class="footer-footer">
    <p>© 2000-2021, All rights reserved</p>
    <div class="payments-methods">
      <figure>
        <img src="assets/images/visa.png" alt="" />
      </figure>
      <figure>
        <img src="assets/images/mastercard.png" alt="" />
      </figure>
      <figure>
        <img src="assets/images/paypal.png" alt="" />
      </figure>
      <figure>
        <img src="assets/images/applepay.png" alt="" />
      </figure>
      <figure>
        <img src="assets/images/googlepay.png" alt="" />
      </figure>
    </div>
  </div>
</footer>
