* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  position: relative;
  background-color: #f0f0f0;
  margin-top: 14rem;
}

footer .footer-card {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 80vw;
  height: 30vh;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 2rem;
}

footer .footer-card h2 {
  color: #fff;
  font-size: clamp(1.9rem, 2.5vw, 3.5rem);
}

footer .footer-card .right-section form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
footer .footer-card .right-section form input[type="email"] {
  width: 20vw;
  height: 5vh;
  padding: 10px;
  border-radius: 50px;
  border: none;
}

footer .footer-card .right-section form button {
  width: 20vw;
  height: 4vh;
  border-radius: 50px;
  border: none;
}

footer .footer-card .right-section form button:hover {
  cursor: pointer;
}

footer .footer-content {
  padding-top: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer .footer-content p {
  color: #676667;
}

footer .footer-content .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;
}

footer .footer-content .column ul {
  list-style: none;
}

footer .footer-content .column li {
  font-size: clamp(1.2rem, 1.2vw, 2.2rem);
  padding: 4px 0;
  color: #676667;
  cursor: pointer;
}

footer .footer-content h3 {
  font-size: clamp(1.8rem, 1.8vw, 2.8rem);
}
footer .footer-content .first-column h3 {
  font-size: clamp(2.3rem, 2.3vw, 3.3rem);
}

footer .footer-content .social-media {
  display: flex;
  gap: 20px;
  align-items: center;
}

footer .footer-content .social-media .circle-background {
  width: 3vw;
  height: 3vw;
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
footer .footer-content .social-media .circle-background i {
  font-size: 2.5vw;
  position: absolute;
  top: 9px;
  left: 11px;
}

footer .footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  padding-top: 2rem;
}

footer .footer-footer .payments-methods {
  display: flex;
  gap: 20px;
  align-items: center;
}

footer .footer-content-mobile {
  display: none;
}

.separator {
  width: 80vw;
  border: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #ddd;
  border-radius: 10px;
}

footer .footer-content .social-media .circle-background:hover {
  background-color: #000;
}

footer .footer-content .social-media .circle-background i:hover {
  color: #fff;
}

@media (width <= 768px) {
  footer .footer-content {
    flex-direction: column;
  }

  footer .footer-card {
    flex-direction: column;
    width: 90vw;
    gap: 20px;
  }
  footer .footer-card .right-section form input[type="email"],
  footer .footer-card .right-section form button {
    width: 80vw;
    height: 5vh;
  }

  footer .footer-content {
    display: none;
  }

  footer .footer-content-mobile {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    padding-top: 22vh;
    gap: 20px;
  }

  footer .footer-content-mobile .column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .footer-content-mobile .first-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-content-mobile .second-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
  }

  footer .footer-content-mobile .column ul {
    list-style: none;
    padding-bottom: 20px;
  }

  footer .footer-content-mobile .column li {
    font-size: clamp(1.2rem, 1.2vw, 2.2rem);
    padding: 4px 0;
    cursor: pointer;
    color: #676667;
  }
  footer .footer-content-mobile .title {
    font-size: clamp(2rem, 2vw, 2.8rem);
  }

  footer .footer-content-mobile p {
    font-size: clamp(1.2rem, 1.2vw, 2.2rem);
    margin: 0;
  }
  footer .footer-content-mobile .social-media {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  footer .footer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  footer .footer-content-mobile p {
    color: #676667;
  }

  footer .footer-content-mobile .social-media .circle-background {
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-content-mobile .social-media .circle-background i {
    font-size: 4vw;
    position: absolute;
    top: 5px;
    left: 7px;
  }

  footer .footer-content-mobile .social-media .circle-background:hover {
    background-color: #000;
  }

  footer .footer-content-mobile .social-media .circle-background i:hover {
    color: #fff;
  }
}
