<app-toast
  Title="{{ ToastInfo.Title }}"
  message="{{ ToastInfo.Message }}"
  [type]="ToastInfo.Type"
  [visible]="ToastInfo.Visible"
></app-toast>
<div class="card">
  <figure class="image-container">
    <img src="{{ image }}" alt="" />
    <div class="hover-box-container">
      <div class="hover-box add-cart">
        <p (click)="AddCart()">Add to cart</p>
      </div>
      <div
        (click)="redirectViewDetails(id_product)"
        class="hover-box view-details"
      >
        <p>View Details</p>
      </div>
    </div>
  </figure>
  <div class="card-content">
    <h2>{{ name }}</h2>
    <app-star-rating [rating]="rating"></app-star-rating>
    <div class="price-container">
      <p *ngIf="price_discount > 0">${{ price_discount }}</p>
      <p *ngIf="price_discount > 0" class="strikethrough">${{ price }}</p>
      <p *ngIf="price_discount == 0" class="price">${{ price }}</p>
      <div *ngIf="price_discount > 0" class="discount-card">
        <p>{{ discount_percentage }}%</p>
      </div>
    </div>
  </div>
</div>
