<main>
  <section class="login-container">
    <!-- FORM SECTION -->
    <div class="left-section">
      <div class="form-container">
        <!-- HEADER FORM -->
        <div class="header-left-section">
          <h1>Welcome Back 👋</h1>
          <p>
            Today is a new day. It's your day. You shape it. Sign in to start
            managing your purchases.
          </p>
        </div>
        <!-- LOGIN FORM -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-block-name form-block">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              placeholder="Enter your email"
            />
            <span
              class="error"
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            >
              <span *ngIf="form.get('email')?.hasError('required')"
                >The field email is required</span
              >
              <span *ngIf="form.get('email')?.hasError('email')"
                >The email is not valid</span
              >
            </span>
          </div>
          <div class="form-block-password form-block">
            <label for="password">Password</label>
            <input
              formControlName="password"
              type="password"
              placeholder="Enter your password"
            />
            <span
              class="error"
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
            >
              <span *ngIf="form.get('password')?.hasError('required')"
                >The field password is required</span
              >
              <span *ngIf="form.get('password')?.hasError('pattern')"
                >Password must be 8-24 characters, with one uppercase letter,
                two digits, and one special character.
              </span>
            </span>
          </div>
          <p class="forgot-password"><a href="">Forgot Password?</a></p>
          <button
            type="submit"
            [disabled]="form.invalid"
            [class.invalid]="form.invalid"
          >
            Sign in
          </button>
        </form>
        <p class="dont-account">
          Don't you have an account? <a href="/register">Sign up</a>
        </p>
      </div>
    </div>
    <!-- IMAGE SECTION -->
    <div class="right-section">
      <figure class="image-container">
        <img
          src="assets/images/login-image.png"
          alt="Intricate still life painting of a vibrant flower arrangement in a decorative vase, featuring diverse blooms like tulips, roses, and poppies, along with small insects and natural elements against a dark background"
        />
      </figure>
    </div>
  </section>
</main>
