<main>
  <section class="login-container">
    <!-- FORM SECTION -->
    <div class="left-section">
      <!-- HEADER FORM -->
      <div class="header-left-section">
        <h1>Welcome Back 👋</h1>
        <p>
          Today is a new day. It's your day. You shape it. Sign in to start
          managing your purchases.
        </p>
      </div>
      <!-- LOGIN FORM -->
      <form action="">
        <label for="">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Example@email.com"
        />
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="At least 8 characters"
        />
        <p>Forgot Password?</p>
        <button type="submit">Sign in</button>
      </form>
      <!-- AUTH 2.0  -->
      <p>Or</p>
      <div class="google-card cards">
        <figure class="icon-container">
          <img
            src="assets/icons/google-icon.png"
            alt="The Google logo, consisting of colorful letters with a blue 'G', followed by red, yellow, blue, green, and red letters spelling 'oogle'. This logo is widely recognized as the symbol for the search engine giant Google"
          />
        </figure>
      </div>
      <div class="facebook-card cards">
        <figure class="icon-container">
          <img
            src="assets/icons/facebook-icon.png"
            alt="The Facebook logo, consisting of two horizontal stripes of colorful letters with a blue 'F', followed by red, yellow, blue, green, and red letters spelling 'acebook'. This logo is widely recognized as the symbol for the social media giant Facebook"
          />
        </figure>
      </div>
      <p>Don't you have an account? <a href="/register">Sign up</a></p>
    </div>
    <!-- IMAGE SECTION -->
    <div class="right-section">
      <figure class="image-container">
        <img
          src="assets/images/login-image.png"
          alt="Intricate still life painting of a vibrant flower arrangement in a decorative vase, featuring diverse blooms like tulips, roses, and poppies, along with small insects and natural elements against a dark background"
        />
      </figure>
    </div>
  </section>
</main>
