<main>
  <section class="login-container">
    <div class="left-section">
      <div class="header-left-section">
        <h1>Welcome Back 👋</h1>
        <p>
          Today is a new day. It's your day. You shape it. Sign in to start
          managing your purchases.
        </p>
      </div>
      <form action="">
        <label for="">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Example@email.com"
        />
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="At least 8 characters"
        />
        <p>Forgot Password?</p>
        <button type="submit">Sign in</button>
      </form>
      <p>Don't you have an account? <a href="/register">Sign up</a></p>
    </div>
    <div class="right-section">
      <figure class="image-container">
        <img
          src="../../../public/login-image.png"
          alt="Intricate still life painting of a vibrant flower arrangement in a decorative vase, featuring diverse blooms like tulips, roses, and poppies, along with small insects and natural elements against a dark background"
        />
      </figure>
    </div>
  </section>
</main>
