* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toast {
  width: 24vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  position: absolute;
  top: 14%;
  right: 0;
  margin: 0 1rem;
  transform: translateY(-15%);
}

.toast .toast-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.toast-success {
  background-color: #6fcf97;
}

.toast-error {
  background-color: #eb5757;
}

.icon-success {
  color: #fff;
  font-size: clamp(2rem, 2vw, 3rem);
}

.icon-error {
  color: #fff;
  font-size: clamp(2rem, 2vw, 3rem);
}

.xmark {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  cursor: pointer;
}
