@import "ngx-toastr/toastr";

@font-face {
  font-family: "Abril Fatface", serif;
  src: url("../public/assets/fonts/AbrilFatface-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
