* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-section {
  display: flex;
  align-items: center;
  background-color: #f2f0f1;
}

.first-section figure {
  width: 40vw;
  max-width: 1000px;
}

.first-section img {
  width: 100%;
  object-fit: cover;
}

.first-section .left-section {
  padding: 5rem;
}

.first-section h2 {
  font-size: clamp(3rem, 3vw, 4rem);
  font-weight: 900;
  color: #000;
  margin-bottom: 1rem;
}

.first-section p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: #666;
}

.first-section button {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1rem;
}

.first-section .stats {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.first-section .stats p {
  padding: 1rem;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.first-section .stats p span {
  font-weight: 900;
  color: #000;
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.second-section {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.second-section figure {
  flex: 1 1 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  max-width: 200px;
}
.second-section img {
  max-width: 100%;
  height: auto;
}

.third-section .cards-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-section .cards-container {
  display: flex;
  flex-direction: row;
}
.third-section button {
  padding: 1rem 4rem;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1rem;
}

.third-section .separator {
  width: 85vw;
  border: 0;
  margin: 3rem;
  height: 2px;
  background-color: #ddd;
  border-radius: 10px;
}

.third-section h2 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: 900;
  color: #000;
  margin: 2rem;
}

.third-section button:hover {
  background-color: #000;
  color: #fff;
}

.fourth-section .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.fourth-section .testimonials-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
  }

  .first-section .left-section {
    padding: 1rem;
  }

  .first-section figure {
    width: 100%;
  }

  .third-section .cards-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .fourth-section .testimonials-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
