<main>
  <section class="register-container">
    <!-- FORM SECTION -->
    <div class="left-section">
      <div class="form-container">
        <!-- HEADER FORM -->
        <div class="header-left-section">
          <h1>Welcome! 👋</h1>
          <p>
            Join us today and start your journey. Create your account to enjoy
            exclusive offers and seamless shopping.
          </p>
        </div>
        <!-- REGISTER FORM -->
        <form [formGroup]="form" (ngSubmit)="onSubmitRegister()">
          <div class="form-block-name form-block">
            <label for="first-name">First Name</label>
            <input
              formControlName="first_name"
              type="text"
              name="first-name"
              id="first-name"
              placeholder="John"
              required
            />
            <span
              class="error"
              *ngIf="
                form.get('first_name')?.invalid &&
                form.get('first_name')?.touched
              "
            >
              <span *ngIf="form.get('first_name')?.hasError('required')"
                >The field first name is required</span
              >
            </span>
          </div>
          <div class="form-block-name form-block">
            <label for="last-name">Last Name</label>
            <input
              formControlName="last_name"
              type="text"
              name="last-name"
              id="last-name"
              placeholder="Doe"
              required
            />
            <span
              class="error"
              *ngIf="
                form.get('last_name')?.invalid && form.get('last_name')?.touched
              "
            >
              <span *ngIf="form.get('last_name')?.hasError('required')"
                >The field last name is required</span
              >
            </span>
          </div>
          <div class="form-block-phone form-block">
            <label for="phone">phone</label>
            <input
              formControlName="phone"
              type="text"
              name="phone"
              id="phone"
              placeholder="phone"
              required
            />
            <span
              class="error"
              *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched"
            >
              <span *ngIf="form.get('phone')?.hasError('required')"
                >The field phone is required</span
              >
              <span *ngIf="form.get('phone')?.hasError('minlength')"
                >The phone number must be 10 digits
              </span>
              <span *ngIf="form.get('phone')?.hasError('maxlength')">
                The phone number must be 10 digits
              </span>
              <span *ngIf="form.get('phone')?.hasError('pattern')">
                The phone number must be a valid number
              </span>
            </span>
          </div>
          <div class="form-block-email form-block">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              placeholder="Example@email.com"
              required
            />
            <span
              class="error"
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            >
              <span *ngIf="form.get('email')?.hasError('required')">
                The field email is required
              </span>
              <span *ngIf="form.get('email')?.hasError('email')"
                >The email is not valid
              </span>
            </span>
          </div>
          <div class="form-block-password form-block">
            <label for="password">Password</label>
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              placeholder="At least 8 characters"
              required
            />
            <span
              class="error"
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
            >
              <span *ngIf="form.get('password')?.hasError('required')"
                >The field password is required</span
              >
              <span *ngIf="form.get('password')?.hasError('pattern')"
                >Password must be 8-24 characters, with one uppercase letter,
                two digits, and one special character.
              </span>
            </span>
          </div>
          <div class="form-block-password form-block">
            <label for="confirm-password">Confirm Password</label>
            <input
              formControlName="confirmPassword"
              type="password"
              name="confirm-password"
              id="confirm-password"
              placeholder="Re-enter your password"
              required
            />
            <span
              class="error"
              *ngIf="
                form.get('confirmPassword')?.invalid &&
                form.get('confirmPassword')?.touched
              "
            >
              <span *ngIf="form.get('confirmPassword')?.hasError('required')"
                >The field password is required</span
              >
              <span *ngIf="form.get('confirmPassword')?.hasError('pattern')"
                >Password must be 8-24 characters, with one uppercase letter,
                two digits, and one special character.
              </span>
            </span>
          </div>
          <div class="form-block-terms form-block">
            <input
              formControlName="terms"
              type="checkbox"
              name="terms"
              id="terms"
              required
            />
            <label for="terms">
              I agree to the <a href="/terms">Terms and Conditions</a>
            </label>
          </div>
          <span
            class="error"
            *ngIf="form.get('terms')?.invalid && form.get('terms')?.touched"
          >
            <span *ngIf="form.get('terms')?.hasError('required')"
              >You must agree to the terms and conditions
            </span>
          </span>
          <button
            type="submit"
            [disabled]="form.invalid"
            [class.invalid]="form.invalid"
          >
            Sign up
          </button>
        </form>
        <p class="already-account">
          Already have an account? <a href="/login">Sign in</a>
        </p>
      </div>
    </div>
    <!-- IMAGE SECTION -->
    <div class="right-section">
      <figure class="image-container">
        <img
          src="assets/images/register-image.png"
          alt="A vibrant and welcoming visual representation for new users"
        />
      </figure>
    </div>
  </section>
</main>
